body{
color:rgba(112, 238, 74, 0.986);
background-color: pink;
}
.heading{
width: 50%;
font-size: 22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
color: cyan;
}
#camera{
border: 2px dashed coral;
width: 350px;
height: 300px;

}